body {
  font-family: "Poppins", sans-serif;
}
/* Navbar responsiveness fixed! */
/* Still the collapse button is not working and elements are squishing together */
nav {
  margin-top: -10px;
}
ul.navbar-nav {
  margin-right: 63.41px;
}
li.nav-item {
  margin-left: 48.59px;
}
img.navbar-img {
  margin-left: 150px;
  margin-right: 5px;
}
button.navbar-toggler {
  background-color: aliceblue;
}
a.nav-link {
  color: rgba(255, 255, 255, 0.7);
}
/* NavBar Ended  */

/* Investor Relations Hero  */
div.hero {
  margin-top: 57px;
  color: white;
  margin-bottom: 57px;
}
h1.hero-title {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
p.hero-body {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}
/* Investor Relations Hero Ends */
main{
  margin-left:20px;
  margin-right: 20px;
}
/* Lets Invest Now Card Started */
div.INVEST {
  margin-top: 10px;
  margin-bottom: 82px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  backdrop-filter: blur(5px);
  color: white;
}
h1.Investnow {
  padding-top: 47px;
  font-size: 48px;
  font-weight: 600;
}
p.investnowbody{
  display: inline-block;
  color: rgba(255, 255, 255, 0.70);
}
button.Inquiry-Now {
  font-weight: 600;
  font-size: 18px;
  padding: 20px;
  color: #00040e;
  border-radius: 10px;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
div.inquiry{
  float: right;
  align-items: center;
  margin-top: -10px;
  margin-left: -10px;
}
/* Lets Invest Now Card Ended */
/* Invester Investment Form Started */
div.INVESTFORM{
  border-radius: 20px;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  backdrop-filter: blur(5px);
  padding: 20PX;
  color: rgba(255, 255, 255, 0.70);
}

h1.formtitle{
  font-weight: 600;
  font-size: 42px;
  text-align: center;
  color: white;
}
p.formsub{
  text-align: center;
}
input#email::placeholder{
  color: rgba(255, 255, 255, 0.70);
}
input#name::placeholder{
  color: rgba(255, 255, 255, 0.70);
}
input#mobile::placeholder{
  color: rgba(255, 255, 255, 0.70);
}
input#amount::placeholder{
  color: rgba(255, 255, 255, 0.70);
}

/* select.form-select */
input.form-control{
  border: 3px solid #6D6D6D;
  background-color: transparent;
}
/* form validation area for green and rfred color border and messages */ 

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
select.form-select{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.70);
}
textarea.form-control{
  background-color: transparent;
}
input.form-check-input{
  background-color: transparent;
  
}
button.Submit{
  width: 100%;
  color: #00040E;
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
/* Invester Investment Form Ended*/

/* Why You should section Started */
div.chooseus{
  margin-top: 120px;
  
}
h1.chooseustitle{
  line-height: 160%;
  text-align: left;
  color: white;
}
p.chooseusbody{
  color: rgba(255, 255, 255, 0.70);
  text-align: left;
}

button.viewmore{
  margin-left: 9px;
  color: #00040E;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
img.groupimage{
  margin-top: -450px;
  display: flex;
  flex-wrap: wrap;
}
/* Why You should section Ended */

/* Review and Feedback Cards Started */

div.reviewcards{
  margin-top: 120px;
}

h1.review{
  color: #ffffff;
  text-align: left;
  margin-bottom: 40px;
  line-height: 160%;
}

div.Investorscards{
  display: inline-block;
  padding-bottom: 27px;
  border-radius: 20px;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  backdrop-filter: blur(5px);

}
img.colon{
  margin-top: 60px;
  margin-left: 40.4px;
  margin-bottom: 31.4px;
}
p.body{
  margin-left: 40.4px;
  margin-right: 40.4px;
  color: rgba(255, 255, 255, 0.70);
}
img.investorimage{
  display: inline-block;
  margin-left: 40.4px;
  width: 48px;
  margin-top: 20px;
}
div.aboutinvestor{
  display: inline;
}
p.investorsname{
  display: inline;
  color: white;
  font-size: 20px;
  margin-left: 16px;
}
p.investorsreview{
  display: block;
  color: rgba(255, 255, 255, 0.70);
  margin-left: 108px;
  margin-right: 40px;
  margin-top: -20px;
  font-size: 16px;
}
div.Investorscards2,div.Investorscards3{
  display: inline-block;
  /* margin-left: 150px; */ /* Disturbing the responsiveness of the cards */
}
/* Colon image issue needs to be resolved */
/* Review and Feedback Cards Ended */

/* Pages Logo Carousel Started */

div.carousel{
  margin:35px;
  margin-top: 137px;
  margin-bottom: 82px;
}
img.carouselimages{
  margin-right: 41px;
  margin-top: 21px;
  margin-bottom: 21px;
}
/* Pages Logo Carousel Ended */

/* Footer Part-1 Started */
div.footerpart{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
  border-bottom:solid;
  border-color: #3F3E45;
}
p.footerpara{
  color: rgba(255, 255, 255, 0.70);
}
h5.footerheading{
  color: white;
  padding-bottom: 24px;
}
a.nav-link1{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.70);
}
li.nav-item1{
  list-style: none;
  margin-left: -30px;
  padding-bottom: 12px;
}
div.footerlogo{
  margin-top: 40px;
}
div.lane1{
  margin-top: 40px;
 
}
div.container{
  background: rgba(11, 10, 12, 0.60);
}
/* Footer Part-1 Ended */

p.copyrightmessage{
  color: #FFFFFF99;
}

/* Footer Part-2 Started */
 
div.footerpart2{
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}
i.fa-brands{
  padding-right: 30px;
  padding-bottom: 30px;
}
div.icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}